<div id="<%= dom_id settlement %>">
  <p>
    <strong>Name:</strong>
    <%= settlement.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= settlement.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= settlement.description %>
  </p>

</div>
