<h1>Editing propriety</h1>

<%= render "form", propriety: @propriety %>

<br>

<div>
  <%= link_to "Show this propriety", @propriety %> |
  <%= link_to "Back to proprieties", proprieties_path %>
</div>
