<h1>Editing combat equipment</h1>

<%= render "form", combat_equipment: @combat_equipment %>

<br>

<div>
  <%= link_to "Show this combat equipment", @combat_equipment %> |
  <%= link_to "Back to combat equipment", combat_equipments_path %>
</div>
