<p style="color: green"><%= notice %></p>

<h1>Combat equipment</h1>

<div id="combat_equipments">
  <% @combat_equipments.each do |combat_equipment| %>
    <%= render combat_equipment %>
    <p>
      <%= link_to "Show this combat equipment", combat_equipment %>
    </p>
  <% end %>
</div>

<%= link_to "New combat equipment", new_combat_equipment_path %>
