<div id="<%= dom_id counter %>">
  <p>
    <strong>Clock:</strong>
    <%= counter.clock_id %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= counter.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= counter.description %>
  </p>

</div>
